.product-page{
    display: flex;
    background-color: rgb(256,254,256);
}
.product-aside{
    width:20vw;
    background-color: darkkhaki;
}
.product-aside>.search{
    display: flex;
    padding:8px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
    font-size: 25px;
    
}
.product-aside>.search>input{
    font-size: 22px;
}
.product-aside>.filter{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.product-aside>.filter>select{
    font-size: 25px;
    width:70%;
    font-weight: bold;
    height:40px;
}
.product-aside>.sort{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.product-aside>.sort>select{
    font-size: 25px;
    width:70%;
    font-weight: bold;
    height:40px;
}

.products{
    width:80vw;
    padding: 10px 5px;
    background-color:rgb(223,219,219);
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap:20px 10px;
    margin-left: 300px;
    margin-top: 0px;
}
.cards{
    padding-bottom: 10px;
    background-color: rgb(87,86,86);
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 3px rgb(43,42,42);
}
.card>img{
    height:250px;
    width:250px;
    color:white;
}
.card>.buttons{
    display: flex;
    gap:20px;
}
.card>.buttons>button{
    cursor:pointer;
    font-size: 22px;
    padding:15px 20px;
    color:white;
    outline:none;
    border:none;
    box-shadow: 0 0 3px black;
    border-radius: 10px;
}
.card>.buttons>button:first-child{
    background-color: blue;
}
.card>.buttons>button:last-child{
    background-color: rgb(136,139,141);
}
.card>.buttons>button::hover{
    transition:all 0.4s ease 0s;
    opacity: 0.8;
    transform: scale(1.1,1.1);
}
@media screen and (min-width:0px) and(max-width:420px) {
    .products{
        grid-template-rows: auto;

    }
    .card>img{
        height:80%;
        width:80%;
    }
    .aside{
        height:20%;
        width:20%;
    }
}
@media(min-width:421px) and (max-width:768px){
    .products{
        grid-template-rows: auto;
    }
    .card>img{
        height: 60%;
        width:60%;
    }
    .aside{
        height:40%;
        width:40%;
    }
}
@media(min-width:769px) and (max-width:1024px){
    .products{
        grid-template-rows:auto ;
    }
    .card>img{
        height:40%;
        width:40%;
    }
    .aside{
        height:20%;
        width:20%;
    }
}
